@charset "utf-8";
/* CSS Document */

/**{
    box-sizing: border-box;
	border:1px solid blue;
}*/

@font-face {
  font-family: modystm;
  src: url("../fonts/modystm-webfont.eot"); /* IE9 Compat Modes */

     src: url("../fonts/modystm-webfont.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/modystm-webfont.woff") format("woff"), /* Pretty Modern Browsers */
       url("../fonts/modystm-webfont.ttf")  format("truetype"), /* Safari, Android, iOS */
		url("../fonts/modystm-webfont.otf") format("opentype"),
       url("../fonts/modystm-webfont.svg#modystm-webfont") format("svg"); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

body, html {
	height:100%;
	margin:0;
	color:#000000;
	position:relative;
	-webkit-text-size-adjust: none;
	}

#homeWrap{
	background:url("../images/home_bkg.svg") no-repeat fixed;
	background-size:cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-position:center center;
	display:block;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
}

@media screen and (max-width: 39em) {
/* start of phone styles */
#homeWrap{
	background:url("../images/home_bkg_mobile.jpg") no-repeat fixed;
	background-size:cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-position:center center;
	display:block;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
}
}

#navbkg{
	background-image:url(../images/nav_bkg.png);
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height:100%;
	width:20%;
	min-height:100%;
	position:fixed;
}

#nav{
	padding:50px 0 0 35px;
	width:300px;
	display:flex;
	flex-direction: column;
}

#nav a{
	text-decoration:none;
	color:black;
}


@media only screen and (max-width : 81em) {
#nav, #navbkg {
	display: none;
}
}

.name{
	font-family:modystm;
	font-size: 52px;
	display:block;
	line-height: 50px;
	}

a{
	color:black;
	display:block;
	}

#nav a:hover{
	color:white;
	transition: 0.3s;
	}

.linkscontainer{
	padding-top:15px;
}

.links{
  	float:left;
	font-family: rooney-web, serif;
	font-weight: 700;
	line-height:35px;
	font-size:20px;
	display:block;
}

.aboutcontact-link{
	float:left;
	font-family: rooney-web, serif;
	font-weight: 700;
	line-height:35px;
	font-size:20px;
	display:block;
	clear:both;
}

.sociallinks{
	clear:both;
	padding-top:10px;
}

#nav .fa-behance-square{
	padding-right:6px;
}

.fa-behance-square:hover {
	color:white;
}

.sidepanel  {
	width:0;
	position: fixed;
	z-index: 1;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding: 80px 0 0 0;
	display: inline-block;
}

.sidepanel a {
	padding: 0 0 8px 32px;
	text-decoration: none;
	color: white;
	display: block;
	transition: 0.3s;
}

.sidepanel a:hover {
 	color: #ff2736;
	text-decoration:none;
}

.sidepanel-name{
	font-family:modystm;
	font-size: 48px;
	display:block;
	line-height: 50px;
	margin-top:30px;
}

.sidepanel-linkscontainer{
	padding:15px 0 0 0;
	display:block;
	width:200px;
}

.sidepanel-links{
  	float:left;
	font-family: rooney-web, serif;
	font-weight: 700;
	padding: 3px 0 5px 0;
	display:block;
	font-size:25px;
}

.sidepanel-aboutcontact-link{
	float:left;
	font-family: rooney-web, serif;
	font-weight: 700;
	font-size:25px;
}

.sidepanel td{
	padding-top:20px;
}

.sidepanel .fa-linkedin:hover {
	color: #ff2736;
}

.sidepanel .fa-behance-square:hover {
	color: #ff2736;
}

.sidepanel .closebtn {
 	position: absolute;
 	top: 0;
 	left: 5px;
 	font-size: 56px;
 	margin:-15px 0 0 0;
}

.openbtn:hover {
 	background-color:black;
}

@media only screen and (min-width : 30em) and (max-width: 81em) {
.openbtn {
	font-size:40px;
	width:65px;
	height:65px;
	
	position:absolute;
	top:0;
	left:0;
	background-color: #ff2e4c;
	color: white;
  	border: none;
}
}

@media only screen and (min-width : 1em) and (max-width : 30em) {
.openbtn {
	font-size:45px;
	width:65px;
	height:65px;
	position:absolute;
	
	top:0;
	left:0;
	background-color: #ff2e4c;
	color: white;
  	border: none;
}
}

/*-------------------------------------------------------*/

/*#dots{
	padding-top: 50px;
	padding-left:50%;
	display: inline-block;
}
.dot-container{
	display:flex;
	justify-content: center;
  	align-items: center;
	padding-left:100px;
}

.dot1{
	padding-right:400px;
}

.dot {
  height: 35px;
  width: 35px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

@media only screen and (min-width : 1em) and (max-width : 30em) {
	.dot-container{
		display:none;
	}
}
*/

#designwrap{
	float:right;
	padding: 40px 5% 30px 25%;
}


#designwrap h1{
	font-family: rooney-web, serif;
	font-size:30px;
	font-weight: 700;
	padding:5px 0 0 20px;
	background-color: #FFC035;
	width:170px;
	height:50px;
	border-style:none solid solid none;
	border-color:black;
	border-width:4px;
	margin: 30px 0 30px 0;
}

#motionwrap{
	float:right;
	padding: 40px 5% 30px 25%;
}


#motionwrap h1{
	font-family: rooney-web, serif;
	font-size:30px;
	font-weight: 700;
	padding:5px 0 0 20px;
	background-color: #FFC035;
	width:300px;
	height:50px;
	border-style:none solid solid none;
	border-color:black;
	border-width:4px;
	margin: 30px 0 30px 0;
}

#aboutwrap{
	float:right;
	padding: 40px 5% 30px 25%;
}

.aboutheader{
	font-family: rooney-web, serif;
	font-size:30px;
	font-weight: 700;
	padding:5px 0 0 20px;
	background-color: #FFC035;
	width:180px;
	height:50px;
	border-style:none solid solid none;
	border-color:black;
	border-width:4px;
	margin: 30px 0 30px 0;	
}

.aboutcontent{
	display:flex;
	flex-wrap:wrap;
}

.aboutcontent p{
	font-family: rooney-web, serif;
	font-size:20px;
	font-weight: 700;
	width:600px;
	padding-top:20px;
}

.portrait{
	width:35%;
}

image{
	display:block;
	border-radius: 3px;
	position:relative;
}

.gallery{
	position:relative;
}

.overlay{
	position:absolute;
	transition:all .3s ease;
	opacity:0;
	border-radius: 3px;
}

.gallery:hover .overlay{
	opacity:1;
}

.text{
	color:white;
	font-family: rooney-web, serif;
	font-weight: 700;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	font-size:20px;
	text-align: center;
}

.text2{
	color:black;
	font-family: rooney-web, serif;
	font-weight: 700;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	font-size:20px;
	text-align: center;
}

.overlayFade{
	height:100%;
	width:100%;
	top:0;
	left:0;
	background-image: url(../images/portfolioImages/preview/previews-01.jpg);
	background-repeat: no-repeat;
	position:absolute;
	display:block;
	background-size: contain;
}

.overlayFade2{
	height:100%;
	width:100%;
	top:0;
	left:0;
	background-image: url(../images/portfolioImages/preview/previews-02.jpg);
	background-repeat: no-repeat;
	position:absolute;
	display:block;
	background-size: contain;
}

.overlayFade3{
	height:100%;
	width:100%;
	top:0;
	left:0;
	background-image: url(../images/portfolioImages/preview/previews-03.jpg);
	background-repeat: no-repeat;
	position:absolute;
	display:block;
	background-size: contain;
}

.overlayFade4{
	height:100%;
	width:100%;
	top:0;
	left:0;
	background-image: url("../images/portfolioImages/preview/previews-04.jpg");
	background-repeat: no-repeat;
	position:absolute;
	display:block;
	background-size: contain;
}

.overlayFade5{
	height:100%;
	width:100%;
	top:0;
	left:0;
	background-image: url("../images/portfolioImages/preview/previews-05.jpg");
	background-repeat: no-repeat;
	position:absolute;
	display:block;
	background-size: contain;
}

.overlayFade6{
	height:100%;
	width:100%;
	top:0;
	left:0;
	background-image: url("../images/portfolioImages/preview/previews-06.jpg");
	background-repeat: no-repeat;
	position:absolute;
	display:block;
	background-size: contain;
}

.typecontainer{
	display:flex;
}

.typecontainer img{
	padding-right:20px;
	border-radius:5px;
}

@media only screen and (min-width : 1em) and (max-width : 60em) {
	.typecontainer{
		flex-direction: column;
		justify-content:center;
		align-items:center;
	}
}

#contactwrap{
	padding: 40px 5% 30px 25%;
	font-family: rooney-web, serif;
	font-weight: 700;
}

.contactheader{
	font-size:30px;
	font-weight: 700;
	padding:5px 0 0 20px;
	background-color: #FFC035;
	width:200px;
	height:50px;
	border-style:none solid solid none;
	border-color:black;
	border-width:4px;
	margin: 30px 0 30px 0;
}

.contactcontent{
	display:flex;
	flex-direction: column;
}

.contactcontent p{
	font-size:20px;
}

.contactcontainer {
	border-radius: 5px;
	max-width:580px;
	min-width: 200px;
}

input[type=text], select, textarea {
	width: 49%;
	float:left;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=email], select, textarea {
	width: 49%;
	float:right;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: black;
	color: white;
	padding: 12px 20px;
	margin-top:20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
  	background-color: #FF2E4C;
}

#message{
	width:100%;
}